@model turkcell_web_app.ViewModels.Frd


<div class="row no-gutters align-items-center">
    <div class="col-lg-6 offset-lg-3 align-items-center" style="padding:20px;">
        <h4>Notes:</h4>
        <textarea id="Reject_Explanation" rows="5" cols="50" name="VersionNotes"></textarea>

    </div>
</div>
