@model turkcell_web_app.ViewModels.Frd


@*<!-- Trigger/Open The Modal -->
<button id="myBtn" type="button">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="row no-gutters align-items-center">
            <div class="align-items-center" style="padding:20px;margin:0 auto;">
                <h4>Notes:</h4>
                <textarea id="Reject_Explanation" rows="5" cols="50" name="VersionNotes"></textarea>

            </div>
        </div>
    </div>

</div>*@


