<div class="col-8 col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <button class="btn btn-block btn-sm" formnovalidate="formnovalidate" id="man-reset">
        <i class="fa fa-close btn-label" style="margin-left:-18px;"></i>
        <span class="text-monospace" style="margin-left:0px;font-size:20px;margin-right:-2px;">Reset</span>
    </button>
</div>
