<div class="col-8 col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <button class="btn btn-block btn-sm" type="submit" formnovalidate="formnovalidate" id="save-button" onclick="submitFun(event)">
        <i class="fa fa-save btn-label" style="margin-left:-20px;"></i>
        <span class="text-monospace" style="font-size:20px;">Save To Draft</span>
    </button>
</div>