<div class="col-8 col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <button class="btn btn-block btn-sm modal-button" type="button" id="man-update2">
        <i class="fa fa-upload btn-label" style="margin-left:-20px;"></i>
        <span class="text-monospace" style="font-size:20px;">Submit Updates</span>
    </button>
</div>



<!-- The Modal -->
<div id="myModal" class="modal" style="overflow-y:hidden;">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <span style="margin:0 auto;">Would you like to add a note regarding the updating of this FRD? (optional)</span>

        <div class="align-items-center">
            @*<div class="col-8 col-sm-6 col-md-4 col-lg-4 col-xl-3" style="padding:20px;margin:0 auto;">
                    <h4>Notes:</h4>
                    <textarea id="Reject_Explanation" rows="5" cols="50" name="VersionNotes"></textarea>
                </div>*@
            <div class="col-md-10 col-lg-7 col-xl-6" id="add-note-popup-main" style="margin:3% auto">
                <p class="text-left">Notes:</p>
                <textarea style="height:100px;" name="VersionNotes" class="Reject_Explanation"></textarea>
            </div>
            <div class="col-8 col-sm-6 col-md-4 col-lg-4 col-xl-3" style="margin:0 auto;">
                <button class="btn btn-primary btn-block btn-sm " type="submit" id="man-update">
                    <i class="fa fa-upload btn-label" style="margin-left:-20px;"></i>
                    <span class="text-monospace" style="font-size:20px;">Confirm Updates</span>
                </button>
            </div>
        </div>
    </div>
</div>
