<div class="col-8 col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <button class="btn btn-block btn-sm" type="submit" id="submit-button" onclick="submitFun(event)">
        <i class="fa fa-check-square-o btn-label" style="margin-right:0px;margin-left:-7px;"></i>
        <span class="text-monospace" style="font-size:20px;">Submit with changes</span>
    </button>
</div>

