@model turkcell_web_app.ViewModels.Frd

@if (Model.Panel4.SMS==null||Model.Panel4.SMS.Count==0||Model.Type!=turkcell_web_app.ViewModels.Frd.TypesEnum.Saved)
{
<div id="root" data-param='@Html.Raw(Json.Encode(Model.Panel4.Senders))'>
</div>
}
else
{
<div id="root" data-param='@Html.Raw(Json.Encode(Model.Panel4.Senders))' data-saved='@Html.Raw(Json.Encode(Model.Panel4.SMS))'>
</div>
}
    @*<div class="row no-gutters justify-content-center align-items-center">
            <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-2 offset-lg-0"><button class="btn btn-primary btn-block" type="button">Add New</button></div>
            <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-2 offset-lg-1"><button class="btn btn-primary btn-block" type="button">Import</button></div>
        </div>*@

