@model turkcell_web_app.ViewModels.Frd
<div id="root2" class="dropzone" action="../../File/Upload?Token=@Model.Upload_Token">
</div>
<input type="hidden" value="@Model.Upload_Token" name="Upload_Token" id="Upload_Token" />
