
@{
    ViewBag.Title = "Error Occured";

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="~/assets/css/ServerNotResponding.css">


</head>

<body>


    <div id="wrapper">

        <div class="grid">
            <span class="server"></span>
            <span class="server"></span>
            <span class="server"></span>
            <span class="server"></span>
            <span class="server"></span>
        </div>

        <div class="content">
            <h1>Something went wrong. The server is currently not responding.</h1>
            <h1>Please try again later, or contact support if the error persists.</h1>
        </div>
        <div class="link-container">
            <a href="~/Home/Index" class="more-link">Go back to Home Page</a>
        </div>

    </div>



    <script src="js/index.js"></script>




</body>

</html>

