@model string

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-12 col-xl-8 offset-lg-0">
            <h1 style="color:#5c7ed1;text-align:center;font-size:35px;font-weight:300;">
                @Model
            </h1>
            <p style="font-size:20px;font-weight:200;text-align:center;"></p>
        </div>
    </div>
</div>